
<form action="/tasks/<%= @task.id%>">
  <input type="text" name="task[title]" value="<%= @task.title%>">
  <input type="test" name="task[details]" value="<%= @task.details%>">
  <input type="submit">
</form>
